<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>百度地图集成.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70F866681B8B03BB00E9B709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F866811B8B03BB00E9B709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F8668C1B8B03BB00E9B709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
